{% extends 'base.html.twig' %}

{% block title %}{{ animal.title }}{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>{{ animal.title }} <small>({{ animal.genus }}/{{ animal.species }})</small></h1>
    <p>Belongs to {{ animal.kingdom }}/{{ animal.type }}/{{ animal.family }}/{{ animal.genus }}/{{ animal.species }}</p>
    <a href="{{ path('kingdom', {'title': animal.kingdom}) }}">Return to kingdom</a>
</div>
{% endblock %}
