{% extends 'base.html.twig' %}

{% block title %}Animal kingdoms{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Animal kingdoms</h1>
    {% for kingdom in kingdoms %}
        <a href="{{ path('kingdom', {'title': kingdom}) }}">
            {{ kingdom.title }}
        </a>
    {% else %}
        <p>No kingdoms added yet :(</p>
        <a href="{{ path('sonata_admin_dashboard') }}">Go to the admin panel and add some!</a>
    {% endfor %}
</div>
{% endblock %}
