{% extends 'base.html.twig' %}

{% block title %}{{ kingdom.title }}{% endblock %}

{% block body %}
<style>
a {
    display: block;
}
a:last-of-type {
    margin-top: 2rem;
}
</style>
<div class="example-wrapper">
    <h1>{{ kingdom.title }}</h1>
    {% for animal in animals %}
        <a href="{{ path('animal', {
            'kingdom': animal.kingdom,
            'type': animal.type,
            'family': animal.family,
            'genus': animal.genus,
            'species': animal.species,
        }) }}">
            {{ animal.title }} <small>({{ animal.genus }}/{{ animal.species }})</small>
        </a>
    {% endfor %}
    <a href="{{ path('kingdoms') }}">Return to all kingdoms</a>
</div>
{% endblock %}
